*{
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 255, 0.336);
}

.navbar{
    background-color: rgba(0, 0, 0, 0.281);
}

.navbar-collapse{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
}
.nav-link{
    cursor: pointer;
    color: white !important;
}