#loader {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    z-index: 9999;
}

#content {
    display: none;
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 255, 0.336);
}

.navbar {
    background-color: rgba(0, 0, 0, 0.281);
    width: 100%;
    height: 5%;
    /* clip-path: polygon(0 1%, 100% 0, 90% 100%, 10% 100%); */
}

.navbar-collapse {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
}

.nav-link {
    cursor: pointer;
    color: white !important;
}

.container-fluid {
    height: 100%;
    width: 100%;
    /* background-color: red; */
}

main {
    height: 95%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* overflow: hidden; */
    /* border: 1px solid GOLD; */
}

img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    background-position: center;
    /* background-color: red; */
}

.image-section {
    height: auto;
    animation: rotate 5s linear infinite;
    width: auto;
    background-color: gold;
    border-radius: 50%;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

main .content {
    z-index: 5;
    height: 100%;
    width: 100%;
    /* background-color: red; */
}