* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6dd46d77;
}

.main-container {
    height: 95%;
    width: 95%;
    background-color: rgba(0, 38, 255, 0.336);
}

header{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header>.heaging{
    height: 20%;
    width: 100%;
}
header>.buttons{
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.show-users{
    height: 90%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    padding: .5%;
}

.search-sections{
    height: 5%;
    width: 50%;
}
.table-section{
    margin-top: 1%;
    height: 94%;
    width: 100%;
    overflow: scroll;
}

.show-users>#myInput{
    width: 50%;
}