* {
    margin: 0;
    padding: 0;

    ::selection{
        background-color: rgba(14, 114, 30, 0.685);
        color: rgb(255, 255, 255);
    }
}

body {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 255, 0.562);
}

.main-container {
    height: 90vh;
    width: 100%;
}

.navbar-expand-lg {
    height: 10vh;
    width: 100%;
    background-color: rgba(49, 49, 238, 0.281);
}

.navbar .container-fluid .home {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid  red; */
    height: auto;
    width: auto;
    cursor: pointer;
}

.login-part {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: none;
}

.login-part header {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;

    >span {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50%;
        width: 2%;
        cursor: pointer;
        border-radius: 50%;
    }
}

.login-part header span:hover {
    color: gold;
}

.login-part .form-section {
    height: 90%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

#login-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 70%;
    border-radius: 2%;
    box-shadow: 
    10px 10px 30px rgba(0, 0, 0, 0.6), /* Deep black shadow */
    0px 0px 25px rgba(255, 223, 0, 0.8), /* Golden glow */
    inset 0px 0px 15px rgba(255, 255, 255, 0.5); /* Inner highlight */

    /* background-color: rgba(0, 110, 255, 0.329); */  
    /* clip-path: polygon(0% 15%, 10% 11%, 15% 0%, 85% 0%, 89% 10%, 100% 15%, 100% 78%, 79% 83%, 35% 100%, 66% 100%, 17% 83%, 0 78%); */

    &>.mb-3 {
        height: 20%;
        width: 100%;
        /* background-color: black; */
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-size: 1.2rem;
    }
}

.content {
    background-color: rgb(40, 40, 223);
}