*{
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
    width: 100%;
    background-color: rgba(19, 93, 190, 0.336);
}

.navbar{
    background-color: rgba(19, 93, 190, 0.199);
}

.toast-container{
    /* background-color: red !important; */
    width: 100% !important;
    position: relative;
    top: 5%;
    height: 10%;
}

#liveToast{
    width: 100% !important;
    background-color: GOLD;
    transition: .2s ease;
}

.navbar .container-fluid{
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left-part{
    /* background-color: blue; */
}

.right-part{
    width: 20%;
    /* background-color: gold; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.notification{
    background-color: green;
}

/*This Puts The Navbar's-Icon In Center*/
/* .navbar-toggler {
    margin: auto;
    display: block;
} */


.navbar-toggler-icon {
    filter: invert(1%);
    /* color: red !important; */
}

.offcanvas {
    height: 50vh !important;
    background-color: #3e58ee88; /* Dark Grey Background */
    color: #333; /* Text Color */
}

.offcanvas-body .navbar-nav .nav-item:hover{
    transition: .5s ease;
    background-color: rgba(0, 12, 10, 0.2);
    color: rgb(0, 255, 13) !important;
}

.btn-close{
    color: red !important;
}