*{
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
    width: 100%;
    background-color: rgba(19, 93, 190, 0.336);
}

.navbar{
    background-color: rgba(19, 93, 190, 0.199);
}

/*This Puts The Navbar's-Icon In Center*/
/* .navbar-toggler {
    margin: auto;
    display: block;
} */


.navbar-toggler-icon {
    filter: invert(1%);
    /* color: red !important; */
}

.welcome-container {
    text-align: center;
}
.welcome-container h1 {
    font-size: 2em;
    color: #2c3e50;
    /* margin-bottom: 20px; */
}
.welcome-container p {
    font-size: 1em;
    color: #34495e;
    /* margin-bottom: 15px; */
}

.offcanvas {
    height: 50vh !important;
    background-color: #3e58ee88; /* Dark Grey Background */
    color: #333; /* Text Color */
}

.offcanvas-body .navbar-nav .nav-item:hover{
    transition: .5s ease;
    background-color: rgba(0, 12, 10, 0.2);
    color: rgb(0, 255, 13) !important;
}

.btn-close{
    color: red !important;
}